/* Estilos generales */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.cart-container{
    position: relative;
}

.count-products{
    background-color: #333;
    color: #ffcc00;
    position:absolute;
    bottom: 0;
    right: 0;
    width: 20px;  
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.cart-content{
    background-color:#555;
    color: #000;
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px; /* Ancho del carrito */
    padding: 1rem;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 1rem 1.5rem black;
}

.hidden-cart{
    display: none;
}
.cart-product{
    display: flex;
    justify-content: space-around;
}

.close-symbol{
    height: 1.5rem;
}

.cart-total-price{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    background-color: #ddd;
    margin-top: 1rem;
}

.cart-container img{
    width: 2rem;
    filter: invert(1);
    cursor: pointer;
}

.logo{
    font-size: 1.5rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 1rem 1.5rem;
    /*margin: 0 auto;*/
    /*gap: 0.6rem;*/
    position: relative;
    color: #fff;
}

.nav-links{
    display: flex;
    gap: 1rem;
}

.nav-links li{
    padding: 0.5rem 1rem; /* Arriba y abajo 8px e izquierda y derecha 20px  */
}

.nav-links li a{
    color: #ddd;
    font-weight: 400;
    transition: color .3s;
}

.nav-links li a:hover{
    color: #ffcc00;
}

#menu-icon{
    display: none;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    padding: 2rem;
}

.hero-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 1.5rem;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: 300;
}

.grid-container{
    margin: 2rem;
    background-color: #f8f8f8;;
    border-radius: 10px;
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
}

.section-title {
    grid-column: 1 / -1; /* Hace que el título ocupe toda la fila */
}

.section-title h2 {
    font-size: 2rem;
    text-align: center;
}


.product{
    background: white;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 1.2rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-5px); /* Efecto al pasar el mouse */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.add-product-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: #555;
}

.product-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Responsive */
/* Media query para pantallas pequeñas */
@media (max-width: 725px){
    .hero-content h1 {
        font-size: 1.8rem;
        transition: .3s;
    }
    
    .hero-content p {
        font-size: 1rem;
        transition: .3s;
    }
}   

@media (max-width: 670px){
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.85rem;
        transition: all .3s;
    }
}

@media (max-width: 480px){
    /*.nav-links{
        display: none;
    }*/

    #menu-icon{
        display: block;
        cursor: pointer;
    }

    .nav-links{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background-color: #555;
        transition: all .42s;   
    }

    .nav-links.open{
        top: 100%;
    }
}
